<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title><%= page_name %> 대나무숲</title>
    <%- include common/og-meta %>
    <%- include common/css %>
</head>
<body>
    <%- include common/header %>

    <%- include common/footer %>
    <%- include common/bootstrap %>

</body>
</html>
